@charset "utf-8";
/* CSS Document */
* a{
	text-decoration:none;}
a:visited{
	color:#FFF;}
a:hover{
	background-color:#FFF;
	color:#000;
	box-shadow:2px 2px 4px #999999;}
#wx_subject{
	background-image:url(../image/background.png);
	width:100%;
	height:2500px;
	margin-top:0px;}
#wx_nav{
	position:fixed;
	top:0px;
	background-image:url(../image/background_01.png);
	width:100%;
	height:100px;
	box-shadow:0px 2px 4px #999999;
	z-index:20;}
#wx_nav_01{
	width:1000px;
	height:100px;
	margin:0 auto;}
#wx_nav_01_left{
	float:left;}
#wx_nav_01_right{
	float:right;
	margin-top:20px;}
#wx_nav_01_right ul li{
	list-style:none;
	float:left;
	margin-left:0px;
}
#wx_nav_01_right a{
	font-family:"微软雅黑";
	font-size:30px;
	color:#000;
	padding-left:8px;
	padding-right:8px;
	border-left:1px solid #CCC;
	font-weight:bold;
	}
#wx_header{
	width:1000px;
	height:300px;
	margin:0 auto;}
#wx_header_inter{
	float:left;
	width:1000px;
	height:200px;
	margin-top:90px;
	background-color:#FFF;}
#wx_nav_header{
	background-image:url(../image/background_01.png);
	width:100%;
	height:50px;}
#wx_nav_02{
	width:1000px;
	margin:0 auto;}
#wx_nav_02_header{
	float:left;
	height:50px;
	margin-top:5px;
	}
#wx_nav_02_header a{
	font-family:"微软雅黑";
	font-size:30px;
	color:#000;
	padding-left:41px;
	padding-right:40px;
	border-left:1px solid #CCC;
	font-weight:bold;}
#wx_content{
	width:1000px;
	height:450px;
	margin:0 auto;
	float:none;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;
	border-left:1px solid #CCC;
	text-align:center;
	margin-bottom:20px;}
#wx_content_h1{
	width:1000px;
	height:auto;}
#wx_content_h1 span{
	clear:both;
	font-family:"微软雅黑";
	font-size:45px;
	color:#F00;
	font-weight:bold;
	}
#wx_content_left{
	float:left;
	border:5px solid #999;
	margin-top:20px;
	margin-left:50px;}
#wx_content img{
	width:300px;
	height:300px;}
#wx_content_right{
	float:left;
	width:500px;
	margin-top:0px;
	margin-left:50px;
	text-align:left;}
#wx_content_right p{
	font-family:"微软雅黑";
	font-size:16px;}
#wx_infor{
	width:1000px;
	height:500px;
	margin:0 auto;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;
	margin-bottom:20px;}
#wx_infor_left{
	width:600px;
	height:450px;
	float:left;}
#wx_infor_left table{
	width:550px;
	height:450px;
	margin-top:10px;
	margin-left:10px;}
#wx_infor_left span{
	font-family:"微软雅黑";
	font-size:36px;
	font-weight:bold;
	color:#F00;}
* td{
	border-bottom:2px dotted #CCCCCC;
	font-family:"微软雅黑";
	font-size:12px;}
#wx_infor_right{
	width:400px;
	height:450px;
	float:right;}
#wx_infor_right img{
	width:400px;
	height:450px;
	margin-top:20px;
	margin-right:10px;
	}
#wx_scene{
	width:1000px;
	height:500px;
	margin:0 auto;
	}
#wx_scene h2{
	width:100%;
	height:50px;
	background-image:url(../image/background_02.png);
	font-family:"微软雅黑";
	font-size:30px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:20px;
}
#wx_scene_left{
	position:relative;
	width:300px;
	height:420px;
	float:left;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;
	}
* h3{
	font-family:"微软雅黑";
	font-size:20px;
	text-align:center;
	margin-top:0px;
	}
#photo_01{
	position:absolute;
	margin-left:20px;
	margin-top:0px;}
#photo_02{
	position:absolute;
	margin-left:140px;
	margin-top:0px;}
#photo_03{
	position:absolute;
	margin-left:20px;
	margin-top:120px;}
#photo_04{
	position:absolute;
	margin-left:140px;
	margin-top:120px;}
#photo_05{
	position:absolute;
	margin-left:20px;
	margin-top:240px;}
#photo_06{
	position:absolute;
	margin-left:140px;
	margin-top:240px;}

#wx_scene_left img{
	width:100px;
	height:100px;
	border:2px solid #999;
	z-index:1;
	}
#wx_scene_left img:hover{
	width:200px;
	height:200px;
	z-index:10;}
#wx_scene_right{
	width:670px;
	height:420px;
	float:right;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;
	}
#wx_scene_right_01{
	width:600px;
	height:350px;
	margin:0 auto;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;}
#wx_scene_right_01 img{
	border:5px solid #999;}
#wx_cate{
	width:1000px;
	height:500px;
	margin:0 auto;
	margin-top:20px;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;
	}
#wx_cate h2{
	width:100%;
	height:50px;
	background-image:url(../image/background_02.png);
	font-family:"微软雅黑";
	font-size:30px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:10px;}
#wx_cate_left{
	width:220px;
	height:380px;
	float:left;}
#wx_cate_left img{
	width:150px;
	height:120px;
	margin-left:30px;
	border:2px solid #999;}
#wx_cate_right{
	width:750px;
	height:380px;
	float:left;}
#wx_cate_right p{
	font-family:"微软雅黑";
	font-size:17px;}
#wx_footer{
	width:100%;
	height:130px;
	margin-top:20px;
	border-top:5px solid #009;
	background-image:url(../image/background_01.jpg);
	}
#wx_footer_infor{
	width:800px;
	height:130px;
	margin:0 auto;
	margin-top:10px;}
#wx_footer_left{
	float:left;}
#wx_footer_right{
	float:left;
	text-align:center;
	margin-left:50px;}

	
	
	
	
	
#wx_patch_01{
	border-right:1px solid #CCC;}

