@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

* a{
	text-decoration:none;}
a:visited{
	color:#FFF;}
a:hover{
	background-color:#FFF;
	color:#000;
	box-shadow:2px 2px 4px #999999;}
#wx_subject{
	background-image:url(../image/background.png);
	width:100%;
	height:2500px;
	margin-top:0px;}
#wx_nav{
	position:fixed;
	top:0px;
	background-image:url(../image/background_01.png);
	width:100%;
	height:100px;
	box-shadow:0px 2px 4px #999999;
	z-index:20;}
#wx_nav_01{
	width:1000px;
	height:100px;
	margin:0 auto;}
#wx_nav_01_left{
	float:left;}
#wx_nav_01_right{
	float:right;
	margin-top:20px;}
#wx_nav_01_right ul li{
	list-style:none;
	float:left;
	margin-left:0px;
}
#wx_nav_01_right a{
	font-family:"微软雅黑";
	font-size:30px;
	color:#000;
	padding-left:8px;
	padding-right:8px;
	border-left:1px solid #CCC;
	font-weight:bold;
	}
#wx_header{
	width:1000px;
	height:300px;
	margin:0 auto;}
#wx_header_inter{
	float:left;
	width:1000px;
	height:200px;
	margin-top:90px;
	background-color:#FFF;}
#wx_nav_header{
	background-image:url(../image/background_01.png);
	width:100%;
	height:50px;}
#wx_nav_02{
	width:1000px;
	margin:0 auto;}
#wx_nav_02_header{
	float:left;
	height:50px;
	margin-top:5px;
	}
#wx_nav_02_header a{
	font-family:"微软雅黑";
	font-size:30px;
	color:#000;
	padding-left:41px;
	padding-right:40px;
	border-left:1px solid #CCC;
	font-weight:bold;}
#wx_history{
	width:1000px;
	height:500px;
	margin:0 auto;
	margin-top:20px;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;}
#wx_history_content{
	width:900px;
	margin:0 auto;
	text-align:left;}
#wx_history_content img{
	width:500px;
	height:400px;}
* h2{
	width:100%;
	height:50px;
	background-image:url(../image/background_02.png);
	font-family:"微软雅黑";
	font-size:30px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:20px;
}
#wx_footer{
	width:100%;
	height:130px;
	margin-top:20px;
	border-top:5px solid #009;
	background-image:url(../image/background_01.jpg);
	}
#wx_footer_infor{
	width:800px;
	height:130px;
	margin:0 auto;
	margin-top:10px;}
#wx_footer_left{
	float:left;}
#wx_footer_right{
	float:left;
	text-align:center;
	margin-left:50px;}

	
	
	
	
	
#wx_patch_01{
	border-right:1px solid #CCC;}

