@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

* a{
	text-decoration:none;}
a:visited{
	color:#FFF;}
a:hover{
	background-color:#FFF;
	color:#000;
	box-shadow:2px 2px 4px #999999;}
#wx_subject{
	background-image:url(../image/background.png);
	width:100%;
	height:2500px;
	margin-top:0px;}
#wx_nav{
	position:fixed;
	top:0px;
	background-image:url(../image/background_01.png);
	width:100%;
	height:100px;
	box-shadow:0px 2px 4px #999999;
	z-index:20;}
#wx_nav_01{
	width:1000px;
	height:100px;
	margin:0 auto;}
#wx_nav_01_left{
	float:left;}
#wx_nav_01_right{
	float:right;
	margin-top:20px;}
#wx_nav_01_right ul li{
	list-style:none;
	float:left;
	margin-left:0px;
}
#wx_nav_01_right a{
	font-family:"微软雅黑";
	font-size:30px;
	color:#000;
	padding-left:8px;
	padding-right:8px;
	border-left:1px solid #CCC;
	font-weight:bold;
	}
#wx_header{
	width:1000px;
	height:300px;
	margin:0 auto;}
#wx_header_inter{
	float:left;
	width:1000px;
	height:200px;
	margin-top:90px;
	background-color:#FFF;}
#wx_nav_header{
	background-image:url(../image/background_01.png);
	width:100%;
	height:50px;}
#wx_nav_02{
	width:1000px;
	margin:0 auto;}
#wx_nav_02_header{
	float:left;
	height:50px;
	margin-top:5px;
	}
#wx_nav_02_header a{
	font-family:"微软雅黑";
	font-size:30px;
	color:#000;
	padding-left:41px;
	padding-right:40px;
	border-left:1px solid #CCC;
	font-weight:bold;}
#wx_history{
	width:1000px;
	height:2000px;
	margin:0 auto;
	margin-top:20px;
	border:1px solid #CCC;
	background-color:#FFF;
	box-shadow:2px 2px 4px #999999;}
#wx_history_content{
	width:900px;
	margin:0 auto;
	text-align:left;}
#wx_history_content img{
	width:500px;
	height:400px;}
* h2{
	width:100%;
	height:50px;
	background-image:url(../image/background_02.png);
	font-family:"微软雅黑";
	font-size:30px;
	color:#FFF;
	margin-top:0px;
	margin-bottom:20px;
}
#wx_footer{
	width:100%;
	height:130px;
	margin-top:20px;
	border-top:5px solid #009;
	background-image:url(../image/background_01.jpg);
	}
#wx_footer_infor{
	width:800px;
	height:130px;
	margin:0 auto;
	margin-top:10px;}
#wx_footer_left{
	float:left;}
#wx_footer_right{
	float:left;
	text-align:center;
	margin-left:50px;}
input{font-size:14px; line-height:24px; color:#333; font-family:Microsoft yahei, Song, Arial, Helvetica, Tahoma, Geneva;}
           h1{margin-bottom:15px; height:100px; line-height:100px; text-align:center; font-size:24px; color:#fff; background:black;}
#content #post,#comment p{zoom:1;}
#content #post:after,#comment p:after{display:block; height:0; clear:both; visibility:hidden; overflow:hidden; content:'.';}
.transition{-webkit-transition:all 0.5s linear; -moz-transition:all 0.5s linear; -o-transition:all 0.5s linear; -ms-transition:all 0.5s linear; transition:all 0.5s linear;}
#content{margin:0 auto; width:900px; overflow:hidden;}
#content #post{margin-bottom:15px; padding-bottom:15px; border-bottom:1px #d4d4d4 dashed;
                   height: 556px;
               }
#content #post textarea{display:block; margin-bottom:10px; padding:5px; width:948px; height:390px; border:1px #d1d1d1 solid; border-radius:5px; resize:none; outline:none;}
#content #post textarea:hover{border:1px #9bdf70 solid; background:#f0fbeb;}
#content #post #postBt,#content #post #clearBt{margin-left:5px; padding:3px; float:right;}
#comment{overflow:hidden;}
#comment p{margin-bottom:10px; padding:10px; border-radius:5px;}
#comment p:nth-child(odd){border:1px solid #e3e197; background:#ffd;}
#comment p:nth-child(even){border:1px solid #adcd3c; background:#f2fddb;}
#comment p .right{text-align:right;}
#comment p .msg{width:738px;}
#comment p .datetime{width:200px; color:#999; text-align:right;}

	
	
	
	
	
#wx_patch_01{
	border-right:1px solid #CCC;}

