.billboard {
    width: 100%;
    height: 486px;
    position: relative;
    top: 50px;
    background: #f1f1f1 url(../images/bigpicbg.jpg) no-repeat center top;
    color: #fff;
    text-align: center;
}

.billboard h1 {
    font-size: 100px;
    padding-top: 70px;
    font-weight: normal;
    letter-spacing: 17px;
}

.billboard h2 {
    font-size: 30px;
    margin-top: 20px;
    font-weight: normal;
}

.box_enter {
    margin: 93px auto;
    width: 45%;
    min-width: 800px;
}

.enter {
    float: left;
    margin: 0 20px;
}

.enter a {
    border: 1px solid #fff;
    padding: 18px 55px;
    color: #e8e8e8;
    display: block;
    font-size: 18px;
    border-radius: 3px;
    text-decoration: none;
}

.enter:hover{
	box-shadow: 0px 0px 6px 1px #fff inset;
}

/* content */
.content {
    width: 100%;
    position: relative;
    background-color: #f1f1f1;
    top: 50px;
    padding-bottom: 45px;
    margin-bottom: 50px;
}

.main {
    width: 1260px;
    margin: 0 auto;
}

.title {
    height: 49px;
    padding: 15px 0 0 392px;
    border-bottom: 1px solid #d8d8d8;
}

.title li {
    float: left;
    font-size: 14px;
    color: #666;
    list-style-type: none;
    margin: 15px 20px;
    cursor: pointer;
}

/* main_con */
.main_con {
    width: 1260px;
    overflow: hidden;
}

.mod {
    width: 100%;
    margin: 0 auto;
}

.card {
    height: 294px;
    width: 294px;
    float: left;
    margin: 10px;
    background-color: #fff;
}

.card_img {
    border: 1px solid #fff;
    width: 265px;
    height: 192px;
    position: absolute;
    margin: 15px; 
}

.card_img img {
    width: 100%;
}

.text {
    color: #999;
    line-height: 18px;
    padding-top: 220px;
    padding: 220px 15px 0 15px;
}

.btn {
    background-color: #ea4c89;
    border-radius: 2px;
    color: #fff;
    padding: 4px 11px;
    text-decoration: none;
    position: absolute;
    top: 350px;
    margin-left: 210px;
}
